<footer op-60>
  <p mt-6 text-sm text-slate>
    <a border-b border-slate border-none hover:border-dashed href="https://blog.zhaoziyi.site/2023/03/17/AIChat/AIChat-help/" target="_blank">使用说明</a> | 
    <a border-b border-slate border-none hover:border-dashed href="http://privacy.chat.zhaoziyi.site/" target="_blank">隐私协议</a> | 
    <a border-b border-slate border-none hover:border-dashed href="http://service.chat.zhaoziyi.site/" target="_blank">服务条款</a> 
  </p>
</footer>
