<footer op-60>
  <p mt-6 text-sm text-slate>
    <a border-b border-slate border-none hover:border-dashed href="https://zhaoziyi.site" target="_blank">主页</a> | 
    <a border-b border-slate border-none hover:border-dashed href="https://blog.zhaoziyi.site" target="_blank">博客</a> | 
    <a border-b border-slate border-none hover:border-dashed href="https://qm.qq.com/cgi-bin/qm/qr?k=SfH3cZO8jBGhdOWa_3wNhZEfjfIXqb52&noverify=0" target="_blank">联系我们</a>
  </p>
</footer>
