<footer op-60>
  <p mt-6 text-sm text-slate>
    <a border-b border-slate border-none hover:border-dashed href="https://blog.zhaoziyi.site/2023/03/17/AIChat/AIChat-help/" target="_blank">使用说明</a> | 
    <a border-b border-slate border-none hover:border-dashed href="http://privacy.chat.zhaoziyi.site/" target="_blank">隐私协议</a> | 
    <a border-b border-slate border-none hover:border-dashed href="http://service.chat.zhaoziyi.site/" target="_blank">服务条款</a> 
  </p>
  <p mt-6 text-sm text-slate>
    <a border-b border-slate border-none hover:border-dashed href="https://zhaoziyi.site" target="_blank">主页</a> | 
    <a border-b border-slate border-none hover:border-dashed href="https://blog.zhaoziyi.site" target="_blank">博客</a> | 
    <a border-b border-slate border-none hover:border-dashed href="https://qm.qq.com/cgi-bin/qm/qr?k=shiqm3H37U5eb6d6UMukT8XGp3iFXysU&authKey=6tji7TIdU/GupXy2aAmAE3u4iOzfnS/z0OsD2NhoLhpFy9Tdo3Z4A5HmSSUVuKxx&noverify=0&personal_qrcode_source=0" target="_blank">交流群</a>
  </p>
</footer>
